@use "/src/variables.scss" as v;
@use "/src/mixins.scss" as m;

.theory_container {
    background-color: v.$gray;
    border-radius: 5px;
    width: 80%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
    padding: 1.2rem 0;

    @include m.theme_start_dark();
}

.theory_container_light {
    background-color: v.$black;

    @include m.theme_to_light();
}