@use "/src/variables.scss" as v;
@use "/src/mixins.scss" as m;

.theory {
    position: relative;
    width: 74dvw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;

    background-color: v.$black;
    color: v.$white;
    padding: 1rem .2rem;

    @include m.theme_start_dark();

    @include m.tablet() {
        max-width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.2rem;
    }

    @include m.desktop() {
        max-width: 80%;
    }
}

.theory_light {
    background-color: v.$gray;
    color: v.$black;

    @include m.theme_to_light();
}