@use "/src/variables.scss" as v;
@use "/src/mixins.scss" as m;

.person {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .pic {
        width: 120px;

        @include m.tablet() {
            width: 250px;
        }
    }

    .person_inf {
        max-width: 100%;
        margin-top: -60px;
        padding: 8px;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        background-color: v.$black;
        color: v.$white;
        font-family: Inter;
        font-size: .8rem;
        font-weight: bold;
        line-height: 1.2rem;
        letter-spacing: 0%;
        text-align: center;
        border-radius: 10px;
        border: 2px solid v.$white;

        @include m.theme_start_dark();
    }

    .person_inf_light {
        background-color: v.$white;
        color: v.$black;
        border: 2px solid v.$black;

        @include m.theme_to_light();
    }
}