@use "/src/mixins.scss" as m;

.theories {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.2rem;

    .piece {
        width: 3rem;
        transition-property: filter;
        transition-duration: .5s;
        transition-timing-function: ease-in;
        filter: blur(0);

        @include m.desktop() {
            width: auto;
        }
    }

    .piece_transition {
        transition-timing-function: ease-out;
        filter: blur(1rem);
    }
}