// Цвета
$white: #FFFFFF;
$black: #000000;
$gray: #D9D9D9;
$success: #00b578;
$fail: #f72430;
$success_ceil_white: #e1ffe1;
$success_ceil_black: #2d6a2d;
$fail_ceil_white: #ffcfe8;
$fail_ceil_black: #752317;
$sun: yellow;
$night: purple;

// Размеры клеток доски
$desk_cell_mobile_tiny: 50px;
$desk_cell_mobile: 97.5px;